{% extends "base.html" %}
{% block content %}
<h1>Bestellformular</h1>
<form method="POST" action="">
  <label for="datum">Datum:</label>
  <input type="date" id="datum" name="datum"><br><br>
  <div id="order">
    <table>
      <thead>
        <th>Artikel</th>
        <th>Anzahl</th>
        <th>Beschreibung</th>
      </thead>
      <tbody id="material">
      </tbody>
    </table>
  </div>
  <button type="button" id="addArticle">Weiteres Material hinzufügen</button><br>
  <input type="submit" value="Bestellung aufgeben">
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-success falshes" role="alert">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<script>
  $( document ).ready(function() {
    $( "#material" ).append( '<tr><td><input type="text" id="articles" name="articles[]" value="-"></td><td><input type="text" id="amounts" name="amounts[]" value="-"></td><td><input type="text" id="descriptions" name="descriptions[]" value="-"></td></tr>');
    counter++;
  });
  $("#addArticle").click(function(){
      $( "#material" ).append('<tr><td><input type="text" id="articles" name="articles[]" value="-"></td><td><input type="text" id="amounts" name="amounts[]" value="-"></td><td><input type="text" id="descriptions" name="descriptions[]" value="-"></td></tr>');
      counter++;
  });

  setTimeout(function() {
    $('.alert').fadeOut('slow');
  }, 2000);

</script>
    
{% endblock %}