{% extends "base.html" %}
{% block content %}


<h2 class="title">Profil</h1>
<p class="body-text">
    <span style="font-weight:bold;">Pfadiname:</span> {{current_user.scoutname}} <br>
    <span style="font-weight:bold;">Email:</span> {{current_user.email}}
</p>
{% if current_user.role == 1 %}
<h2 class="title">Meine Bestellungen:</h2>
{% if myOrders|length %}
{% for order,user in myOrders %}
<div class="order-box border-light mb-0" style="margin-top: 20px;">
    <div class="order-box-header"><span style="font-weight:bold;">Bestellung Nr:</span> {{ order.id }}</div>
    <div class="order-box-body">
      <p class="order-box-text">
        <span style="font-weight:bold;">Name:</span> {{ user.scoutname }}<br>
        <span style="font-weight:bold;">Aktivität:</span> {{ order.activityDate.strftime('%d.%m.%Y') }}<br>
        <span style="font-weight:bold;">Status:</span> {% if order.orderStatus == 1 %} Angefragt {% elif order.orderStatus  == 2 %} Angenommen {% else %} Kein Status vorhanden {% endif %}
      </p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Artikel</th>
            <th scope="col">Anzahl</th>
            <th scope="col">Beschreibung</th>
          </tr>
        </thead>
        <tbody>
          {% for art in order.articles %}
          <tr>
            <td>{{ art.article }}</td>
            <td>{{ art.amount }}</td>
            <td>{{ art.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endfor %}
{% else %}
<p class="body-text">Keine Bestellungen vorhanden!</p>
{% endif %}
{% endif %}
{% endblock %}