<!--Eigenentwicklung-->
{% extends "base.html" %}

{% block content %}
<div class="register-form container">
    <h1>Registrieren</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.scoutname.label }}<br>
            {{ form.scoutname(class_='form-control') }}<br>
            {% for error in form.scoutname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class_='form-control') }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class_='form-control') }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(class_='form-control') }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.role.label }}<br>
            {{ form.role(class_='form-control roleRadio') }}<br>
            {% for error in form.role.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_='btn btn-secondary') }}</p>
    </form>
</div>
{% endblock %}